:host::ng-deep.mat-form-field {
    height: 65px;
}
.table thead th {
    white-space: nowrap;
}
.table tbody tr {
    cursor: pointer;
}
.branch-desc{
.desc{
    font-size: 10px;
    font-weight: 500;
    color: #6b6a6acc;
}
.name{
font-size: 16px;
    font-weight: 300;
}
}
