
.custom-pagination {
    list-style: none;
    padding-left: 0;
    // display: flex;
    li {
        width: 28px;
        text-align: center;
        margin: 5px;
        font-size: 11px;
        color: #6c757d;
        background-color: #ffffff03 !important;
        border: none !important;
        align-items: center;
        // display: flex;
        justify-content: center;
        height: 28px;
        display: inline-block;
        line-height: 10px;
        cursor: pointer;
        &.active {
            background-color: #635996 !important;
            color: #fff;
            border-radius: 50%;
            padding: 5px;
            padding-top: 10px;
        }
        &.disabled{
            opacity: 0.5;
        }
    }
}

.pagingRightContent {
    font-size: 14px;
    color: #6c757d;
}